section {
    width: 100vw;
    height: 100vh;
    background-color: white;   
  }

  nav {
    display:none;
  }

@media(min-width: 700px){

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5rem;
        position:relative;
    }
   
    nav{
      position:absolute;
      left:13vw;
      top:-4.3rem;
      display:inline-block;
     
    }
    .tab{
      border:none;
      padding:1em;
      border-radius: 25px 25px 0px 0px;
      margin:0 -1.5rem 0 0;
      width:7rem;
      position:relative;
    
    }
    nav button:first-child{
      z-index:3;
     
    }
    nav button:nth-child(2){
      z-index:2;
     
    }
    nav button:last-child{
      z-index:1;
      
    }
    .tab:hover{
     cursor:pointer;
    }
    button.tab-active{
      padding-bottom:2.5rem;
      bottom:1.6rem;
      z-index:5;
    
    }
    .tab > img{
        height: 3em;
      }
    
}