
form{
    width: 100vw;
    height: 100%;
    padding: 4rem 3.5rem 2rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
  
form h2{
  font-size: 1.875rem;
  font-weight: lighter;
}
form label{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding-bottom: .3rem;
  align-self: flex-start;
}
form input{
  width: 70vw;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: .5rem;
  font-weight: lighter;
  border: none;
  background-color: var(--text-color-red);
}
form > div{
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

input[type="radio"]{
  width: 1.6em;
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  top: .3rem;
}
input[type="radio"]:nth-of-type(2){
    margin-right: 0;
}

input[type="number"]{
  width: 6rem;
  position: relative;
  top: .3rem;
}

fieldset{
  border: none;
  padding: 0;
}

legend{
  font-size: 1.125rem;
  display: inline;
}
div.rate-div{
  width: min-content;
}
  
textarea{
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}
form > button{
  font-size: 1.5rem;
  
  width: 100%;
  border: none;
  margin-top: 1.5rem;
  padding: .5em;
  border-radius: 10px;
  cursor:pointer;
}
.button-red{
  color: var(--background-color-red);
  background-color: var(--text-color-red);
}
.button-yellow{
  color: var(--background-color-yellow);
  background-color: var(--text-color-yellow);
}
.button-green{
  color: var(--background-color-green);
  background-color: var(--text-color-green);
}


  /* For those crazy ass small screens */

  @media(max-width: 337px){
      form > div{
          width: 101%;
      }
    input[type="radio"]:nth-of-type(1){
        margin-right: 0;
    }
  
  }

  /* For them fat screens */

@media(min-width: 700px){

    form h2{
        align-self: center;
        font-size: 3rem;
        padding-top: 1rem;

    }

    form{
        width: 80vw;
        max-width: 60rem;
        height: 70vh;
        padding: 0 3.5rem 2rem;
        align-items: flex-start;
        border-radius: 20px;
        border-top-left-radius: 0;
        position: relative;
        box-shadow: 0px 0px 5px -50px rgba(0,0,0,.8), 8px 7px 20px -12px rgba(0,0,0,.8);

    }

    form input{
        width: 60%;
        max-width: 31rem;
    }

  form > div{
    width: 60%;
    max-width: 20rem;
    min-width: fit-content;
    margin-top: 1rem;
    justify-content: space-between;
  }

  textarea{
      width: 60%;
      max-width: 31rem;
  }
  form > button{
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}