header {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  background-color: transparent;
  padding: 2rem;
}
  
img.logo{
  height: 3.2rem;
  margin: 0 auto;
}
img.go-back{
  height: 2rem;
}

@media(min-width: 700px){
  header{
      background-color: white;
  }
  img.big{
    width: 35rem;
    height: auto;
  }
}