.list-card{
    height: 135px;
    /* width:238px;
    min-height:115px; */
    border-radius:5px;
    padding:15px;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:auto;
    font-family:'Roboto', sans-serif;
    
}

.red{
    background-color:var(--text-color-red);
    color:var(--error-color-red);
}
.yellow{
    background-color: var(--text-color-yellow);
    color: var(--error-color-yellow);
}
.green{
    background-color: var(--text-color-green);
    color: var(--error-color-green);
}
.red-button{
    color:var(--text-color-red);
    background-color:var(--error-color-red);
}
.yellow-button{
    color: var(--text-color-yellow);
    background-color: var(--error-color-yellow);

}
.green-button{
    color: var(--text-color-green);
    background-color: var(--error-color-green);
}
/* Ändra grid-column 1/10 om man inte vill h3 ska sträcka sig till kanten på kortet, alltså över knapparn*/
.list-card > h3{
    grid-column:1/11;
    text-align:left;
    font-size:14px;
    margin-bottom:10px;
}
.list-card > p{
    text-align:left;
    grid-column:1/8;
    font-size:14px;
    align-self:end;
}

.list-card > button {
    /* background-color: var(--background-color-red); */
    border:none;
    height:20px;
    width:20px;
    justify-self:end;
    align-self:end;
    border-radius:5px;
}
.list-card > .edit-button{
    grid-column:9/10;
    margin-right:5px;
    cursor:pointer;
    
    
}
.edit-button > .edit-logo{
    height:15px;
    width:15px;
    margin-top:2px;
   
    
}
.list-card >.delete-button{
    grid-column:10/11;
    /* color:var(--text-color-red); */
    cursor:pointer;
   
}
.edit-list-card{

    color:black;
    background-color:var(--text-color-red);
}
.edit-list-card > input {
   
    padding:0;
    /* display:inline-block; */
    border-radius:5px;
    /* width:100%; */
    font-size:14px;
    padding:0.2em;
    
}
.edit-list-card >label {
    display:inline-block;
    font-size:14px;
    margin-top:0rem;
}
.save-edit-button{
    border:1px solid orange;
}
