.list-card{
    height: 210px;
    border-radius:5px;
    padding:15px;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:auto;
    font-family:'Roboto', sans-serif;
    
}
.red{
    background-color:var(--text-color-red);
    color:var(--error-color-red);
}
.yellow{
    background-color: var(--text-color-yellow);
    color: var(--error-color-yellow);
}
.green{
    background-color: var(--text-color-green);
    color: var(--error-color-green);
}
.red-button{
    color:var(--text-color-red);
    background-color:var(--error-color-red);
}
.yellow-button{
    color: var(--text-color-yellow);
    background-color: var(--error-color-yellow);

}
.green-button{
    color: var(--text-color-green);
    background-color: var(--error-color-green);
}
/* Ändra grid-column 1/10 om man inte vill h3 ska sträcka sig till kanten på kortet, alltså över knapparn*/
.list-card > h3{
    grid-column:1/11;
    text-align:left;
    font-size:14px;
    margin-bottom:10px;
}
.list-card > p{
    text-align:left;
    grid-column:1/8;
    font-size:14px;
    align-self:end;
}
.list-card > button {
    /* background-color: var(--background-color-red); */
    border:none;
    height:23px;
    width:23px;
    justify-self:end;
    align-self:end;
    border-radius:5px;

}
.list-card > .edit-button{
    grid-column:9/10;
    margin-right:5px;
    cursor:pointer;
 
}
.edit-button > .edit-logo{
    height:15px;
    width:15px;
    margin-top:2px;
   
     
}
.list-card >.delete-button{
    grid-column:10/11;
    cursor:pointer;
   
}
.edit-list-card{
    height: 210px;
    min-width:200px;
    border-radius:5px;
    padding:15px;
    font-size:14px;
  
}
.edit-list-card div{
    /* border:1px solid blue; */
    min-width:5rem;
    display:flex;
}
.edit-list-card > input[type='radio']{
    height:.9rem;
    margin-bottom:.5rem;
}

.edit-list-card .comment-container{
    display:flex;
    flex-direction: column;


}
.comment-container >textarea{
   
    /* height:3rem; */
    resize:none;
    width:10.5rem;
    height:3rem;
}
.edit-list-card  .comment-label{
    display:block;
}
.edit-list-card input[type='number']{
    max-width:3rem;
    top:0;
}

.edit-list-card  input {
    border-radius:5px;
    font-size:14px;
    border:none;
    max-width:8rem;
    margin-left: .5rem;
    
    
}
.edit-list-card >label {
    font-size:14px;
    margin-top:0rem;
}
.save-edit-button{
    border:1px solid orange;
}
.edit-list-card > .delete-button{
    border:none;
    height:23px;
    width:23px;
    border-radius:5px;

}
