
 main {
    border-radius: 9px;
    height: 100vh;
   padding:1em;
    /* background-color: var(--background-color-red); */
    
    display: grid;
    grid-template-rows: 3em 5em 1fr 5em;
    /* color: var(--text-color-red); */
}
 main > * {
    margin: 0.5em;
    margin-left: 2em;
    margin-right: 2em;

}

.add-button > button {
    padding: 1.5em;
    border-radius: 5px;
    border: none;
    /* background-color:  var(--text-color-red);
    color: var(--background-color-red); */
}

  
.sortItem-red:hover {
    background-color:  var(--text-color-red);
    color: var(--background-color-red);
}
.sortItem-yellow:hover {
    background-color:  var(--text-color-yellow);
    color: var(--background-color-yellow);
}
.sortItem-green:hover {
    background-color:  var(--text-color-green);
    color: var(--background-color-green);
}


.listcomponent-menu input {
    background: transparent;
    border: none;
    padding: 0.2em;
    /* color: var(--text-color-red); */
    width: 100%;
    border-radius: 0%;
    /* background-color:  var(--background-color-red);
     */
    
    padding: 0.55em;
    border-bottom: 1px solid var(--text-color-red);
}
.listcomponent-menu input:focus {
    outline: none;
}
::placeholder {
    color: var(--text-color-red);
    opacity: 1;
    font-size: 1.5em;
    
}  

.listcomponent-menu {
    display: grid;
    grid-template-columns: 7em 1fr;
    text-align: left;

}
.listcomponent-menu > div {
    margin: 0.5em;
    margin-top: 1em;
}

.sort {
    position: relative;
    display: inline-block;
    border-radius: 5px;
   
}
.drop-div {

    border-bottom: 1px solid  var(--text-color-red);
    /* border-radius: 5px; */
    padding-left: 1em;
    font-size: 1.5em;
}


.dropdown-content {
    display: none;
    position: relative;
}
.sort:hover .dropdown-content {
    display: block;
    
}
.dropdown-content{
    width:100%;
}
.dropdown-content div {
    padding: 1em;
}
.dropdown-content div:hover {
    /* background-color: var(--background-color-red);
    color: var(--text-color-red); */
    width:100%;
}
.desktop-menu {
    display: none;
}

@media screen and (max-width:700px) {
    
     .scrollable {
        
        overflow-y: auto;
        
    } 
    
    .listcomponent-logo{
        text-align: right;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        
    }
    .main > div {
        margin-bottom: 1em;
    }

}
@media screen and (min-width: 701px){
    .listcomponent-largelogo:hover{
        cursor: pointer;
    }
    .scrollable {
        
        overflow-y: auto;
        
    } 
     .main {
   

        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:1em;
        height: 300px;
        
    }
   
    .add-button{
        display:flex;
       justify-content:flex-end;
    }



    /* .menu-desktop {
        display: block;
    } */
    .desktop-mobil {
        margin-left:7em; 
        margin-right:7em; 
        /* margin-top: 3em; */
        /* height: 30%; */
        font-family: 'Roboto', sans-serif;
        display: grid;
        grid-template-rows: 5em 1fr;
        
         
    }
 
    /* .desktop-menu img {
        width: 100%;
    } */
    .desktop-menu {
        display: block;
        display: grid;
        grid-template-columns: 7em 1fr 1fr;
    }
    .desktop-menu > * {
        margin: 0.5em;
    }
    
    .desktop-menu input {
        background: transparent;
        border: none;
        
        /* color: var(--background-color-red); */
     
      width: 100%;
      border-radius: 0%;
     
      border-bottom: 1px solid var(--text-color-red);
      
      padding: 1.4em;
    }
    .desktop-menu input:focus {
        outline: none;
    }
    ::placeholder {
        /* color: var(--background-color-red); */
        opacity: 1;
        font-size: 1.5em;
        
      }
      
      .drop-div {
        border: 1px solid  var(--text-color-red);
        border: none;
        padding: 0.5em;
        /* color: var(--background-color-red);
        background-color: var(--text-color-red); */
        font-size: 1.5em;
       
    }
    .listcomponent-menu, .listcomponent-logo {
        display: none;
    }
     main {
        display: grid;
        grid-template-rows: 5em 1fr 5em;
        height: 100%; 
    }
    
     main > h1 {
        text-align: left;
    }
     
}
@media screen and (max-width: 870px){
    .main{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap:1em;
        
    }
}
