/* Global css */
.App {
	text-align: center;
	height: 100vh;
	width:100vw;
}
.logoBig {
	width:30em;
	height:10em;
	margin: 3em;
}
.start-card-wrapper{
	position: relative;
	display:grid;
	width: 19em;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 8em;
	margin:0 auto;
}
.first-card{
	grid-column-start: 1;
	grid-column-end: 4;
}
.second-card{
	width:100%;
	grid-column-start: 1;
	grid-column-end: 4;
}
.third-card{
	width:100%;
	grid-column-start: 1;
	grid-column-end: 4;

}
@media only screen  
	and (min-device-width: 1200px) 
	and (max-device-width: 1600px) 
	and (-webkit-min-device-pixel-ratio: 1) {
	.start-card-wrapper {
	}
	
}
@media only screen and (min-width: 700px){
	.start-card-wrapper{
		position: relative;
		display:grid;
		width:80%;
		grid-template-columns: repeat(3,1fr);
		margin:0 auto;
	}
	.first-card{
		grid-column-start: 1;
		grid-column-end: 1;
		z-index: 10;
	}
	.second-card{
		grid-column-start: 2;
		grid-column-end: 2;
		z-index: 5;
	}
	.third-card{
		grid-column-start: 3;
		grid-column-end: 3;
		z-index: 1;
	
	}
}
@media only screen and (min-width: 1200px){
	.start-card-wrapper{
		width:60%;
	}
}
@media only screen and (min-width: 1200px){
	.start-card-wrapper{
		width:60%;
	}
}
