/* Global css */
.App {
	
	height: 100vh;
	width:100vw;
}
.logoBig {
	width:30em;
	height:10em;
	margin: 3em;
}
.start-card-wrapper{
	width: 19em;
	display: flex;
	flex-direction: column;
	margin:0 auto;
	padding-top: 8rem;
}
.start-card-wrapper input[type="radio"] {
	display: none;
}
.start-card-wrapper input[type="radio"]:checked + label {
	flex: 1 1 auto;
}
.start-card-wrapper  label {
	flex: 0 0 auto;
	transition: all 1s;
}
.first-card{

}
.second-card{

}
.third-card{

}






@media only screen  
	and (min-device-width: 1200px) 
	and (max-device-width: 1600px) 
	and (-webkit-min-device-pixel-ratio: 1) {
	.start-card-wrapper {
	}
	
}
@media only screen and (min-width: 700px){
	.start-card-wrapper{
		position: relative;
		display:grid;
		width:80%;
		grid-template-columns: repeat(3,1fr);
		margin:0 auto;
		padding-top: 5rem;
	}
	.first-card{
		grid-column-start: 1;
		grid-column-end: 1;
		z-index: 10;
	}
	.second-card{
		grid-column-start: 2;
		grid-column-end: 2;
		z-index: 5;
	}
	.third-card{
		grid-column-start: 3;
		grid-column-end: 3;
		z-index: 1;
	
	}
}
@media only screen and (min-width: 1200px){
	.start-card-wrapper{
		position: relative;
		display:grid;
		width:60%;
		grid-template-columns: repeat(3,1fr);
		margin:0 auto;
	}
}
